body{
    text-align: center;
    background: white;
}

h1{
    color: white;
    background-color: #3c7c9e;
    margin-left: 35%;
    padding: 1em;
    width: 30%;
    border-left: #162e3b solid 5px;
    box-shadow: 0 2px 2px 1px rgba(11, 31, 32, 0.781);
}

.links_div, .get{
    position: relative;
    padding: 1em;
    background: lightgray;
    width: 32%;
    height: fit-content;
    margin-left: 35%;
    color: black;
    border-left: darkgray solid 5px;
    box-shadow: 0 2px 2px 1px rgba(48, 51, 51, 0.781);
}

a, a:active {
    text-decoration: none;
    color: black;
}

table, td, th{
    margin-left: 40%;
    padding: 1rem 2rem;
    left: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

.blue{
    color: white;
    background-color: #3c7c9e;
}

.white{
    background-color: white;
}