/*Estilos ejercicio 1*/
*{
    text-align: center;
    margin: auto;
}

/*Estilos ejercicio 2*/
.caja{
    float: left;
    padding-left: 10px;
}
table {
    border: 1px solid black;
}
*{
    text-align: center;
    margin: auto;
    background-color: rgb(170, 161, 161)
    ;
}

.titulo{
    margin-top: 100px;
    padding: 10px;
}