.contenedor{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
    font-size: 30px;
}


form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	color:#fff;
	background-color:#000;
    cursor: pointer;
}
form input[type="number"]{
	width:97%;
} 






.hijo{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
img{
    width: 110px;
    height: 166px;
}