body{
    margin: auto;
    max-width: 1240px;
}

form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
        transform: translate(0%, 20%);
	background-color:#ccc;
}
form input[type="number"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}


/*---------------------------------------*/



.calendario {
	font-family:Arial;
	font-size:25px;
	float: left;
    width: 23%;
    height: 286;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
}
.calendario caption {
	text-align:left;
	padding:5px 10px;
	background-color:#003366;
	color:#fff;
	font-weight:bold;
}
.calendario th {
	background-color:#006699;
	color:#fff;
	width:40px;
}
.calendario td {
	text-align:right;
	padding:2px 5px;
	background-color:silver;
}
.calendario .plateado{
	background-color:silver;
}
.calendario .hoy {
	background-color:red;
}